.blogs{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1rem;
    padding: 1rem;
    margin-left: 10vh;
}

.allBlogs{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
    min-height:350px;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.show-tags{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.show-tags .tag{
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    background-color: #599de6;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .blogs{
        margin-left: 0;
    }
    .allBlogs{
        width: 100%;
    }
}