.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.home-text,
.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.home-text{
    margin-left: 50px;
}

.home-text h1,
.home-text h4{
    font-size: 3rem;
    font-weight: lighter;
}


.home-text h4{
    font-size: 1.25rem;
}

.home-img{
    width:85vw;
}

.home-img{
    background: url("https://mehulk05.github.io/Blogapp-using-MERN/static/media/asset-1.171cd5d9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:drop-shadow(0 0 0.5rem blue);
}


@media (max-width:1024px){
    .home-text h1,
    .home-text h4{
        font-size: 1.5rem;
        font-weight: 400;
    }

    .home-text h4{
        font-size: 1rem;
        font-weight: lighter;
    }

    .home-img{
        background-size: contain;
    }
}

@media (max-width:768px){
    .home{
        flex-direction: column;
    }
    .home-text{
        margin-left: 0px;
    }

    .home-text h1{
        font-size: 2.5rem;
    }

    .home-img{
        width:100%;
        background-size: contain;
    }

}
