.signup-form-container {
    width:80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 75vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 2px 2px 3px rgb(21, 19, 131),
    -2px -2px 3px rgb(47, 96, 187);
    color:black;
    }

    .signup-form-container form {
        display: flex;
        align-items: flex-start;
        justify-content:space-evenly;
        flex-direction: column;
        gap:15px;
        width:100%;
        min-height: 50vh;
    }
    .signup-form-container div {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    
    .signup-form-container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .signup-form-container form {
        display: flex;
        flex-direction: column;
    }
    
    .signup-form-container label {
        margin-bottom: 5px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .signup-form-container input {
    display: block;
    width:300px;
    padding: 15px 5px;
    font-size: 1rem;
    border:2px solid blue;
    border-radius: 20px;
    }
    
    .signup-form-container .error {
    border:2px solid white;
    width:90%;
    border-radius: 15px;
    background-color: rgb(16, 16, 201);
    padding: 10px 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out; 
    }
    
    .signup-form-container button {
        font-size: 16px;
        background-color: #007BFF;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin: 0 auto;
    }

    .signup-form-container .fields div label,.signup-form-container .fields div input{
        display: block;
    }

    .signup-form-container .fields>div{
        align-items: center;
        justify-content: space-between;
    }

    .signup-form-container .fields .vanish{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
    }

    .signup-form-container .fields .vanish input{
        display: block;
        margin: 0;
        padding: 10px;
        width:45%;
    }

    .signup-form-container .fields button{
        border:1px solid white;
    }
    .signup-form-container form div input{
        width:75%;
    }
    .signup-form-container .fields .vanish button{
        display: block;
        background-color: red;
        border:2px solid red;
        width:50%;
        border-radius: 25px;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.25s ease-in-out; 
    }
    .signup-form-container .fields .vanishButton{
        outline: 2px solid white;
        border:1px solid white;
        background-color: #007BFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
        border-radius: 25px;
        font-size: 20px;
        cursor: pointer;
    }

    button[type="submit"]{
        outline:2px solid white;
        border:2px solid white;
        width:40%;
        color: white;
        border-radius: 25px;
        background-color: rgb(16, 16, 201);
        padding: 10px 5px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
    }
    
    button[type="submit"]:hover{
        transform: scale(0.98);
    }

    .password-info{
        margin: 0 auto;
        height: 10vh;
    }
    .password-show {
        display: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0 auto;
    }
    
    .password-info:hover + .password-show {
        display: block;
    }

    .password{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    
@media screen and (max-width: 480px) {
    button[type="submit"]{
        width:80%;
    }
}