.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 5vh;
    box-shadow: 2px 2px 3px rgb(21, 19, 131),
    -2px -2px 3px rgb(47, 96, 187);
    color:black;
}

.title{
    display: flex;
    align-items: center;
    width:100%;
    gap: 10px;
}

.title input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}

.body{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    gap: 10px; 
    width:100%;
    color:black;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(109, 108, 163);
    padding: 5px;
    position: relative;
}

.body textarea{
    width: 90%;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: none;
}

.body input{
    width: 90%;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.body .file-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.upload-image{
    cursor: pointer;
    margin: 0 auto;
    object-fit: contain;
    padding:5px;
    border:2px dotted #ccc;
}

.upload-image:hover{
    border:2px dotted #599de6;
    opacity: 0.6;
}

.upload-button{
    padding: 5px 10px;
    border-radius: 20px;
    border:none;
    width: 25%;
    min-width: 200px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #599de6;
    color:white;
    font-size: 1rem;
    margin: 0 auto;
}


.add-body-button{
    border-radius: 100%;
    border:none;
    cursor: pointer;
    background-color: white;
}

.submit-button{
    padding: 5px 10px;
    border-radius: 20px;
    border:none;
    width: 50%;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(218, 18, 18);
    color:white;
    font-size: 1.15rem;
    margin: 0 auto;
}

.preview-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.preview-container img{
    object-fit: contain;
    border:1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}


.preview{
    position: relative;
}
.cross-button{
    background-color: white;
    border:none;
    cursor: pointer;
    position: absolute;
    top:0;
    right:-10%;
    border-radius: 100%;
}

.image-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.need-to-add{
    display: none;
}

.add-body-button{
    width:25%;
    padding: 5px 10px;
    border-radius: 100%;
    border:none;
    cursor: pointer;
}

.add-body-button:hover .need-to-add{
    display: block;
}


.cross-icon{
    cursor: pointer;
    position: absolute;
    top:0;
    right:5%;
    border-radius: 100%;
    padding: 5px;
    background-color: white;
    border:none;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.tags input{
    width:75%;
}
.tags button{
    padding: 5px 10px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    background-color: #599de6;
    color:white;
    font-size: 1rem;
    margin: 0 auto;
}


@media screen and (max-width: 1920px) {
    .login{
        min-height: 75vh;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 98%;
        padding: 5px;
    }

    .body{  
        width: 100%;
    }

    .body textarea{
        width: 90%;
    }

    .cross-icon{
        cursor: pointer;
        position: absolute;
        top:0;
        right:0;
        border-radius: 100%;
        padding: 5px;
        background-color: white;
        border:none;
    }

    .tags input{
        width:75%;
        align-items: flex-start;
    }
    
}

@media screen and (max-width: 476px) {
    .tags input{
        width:60%;
    }
}
